{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h2>Bienvenue
    {% if app.user %}
        {{ app.user.email }}
    {% endif %}
    !</h2>
{% endblock %}
